<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>SprintFinal_M5</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ListarCapacitacion</display-name>
    <servlet-name>ListarCapacitacion</servlet-name>
    <servlet-class>controller.ListarCapacitacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarCapacitacion</servlet-name>
    <url-pattern>/ListarCapacitacion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SVLogin</display-name>
    <servlet-name>SVLogin</servlet-name>
    <servlet-class>controller.SVLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SVLogin</servlet-name>
    <url-pattern>/SVLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SVLogout</display-name>
    <servlet-name>SVLogout</servlet-name>
    <servlet-class>controller.SVLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SVLogout</servlet-name>
    <url-pattern>/SVLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SVCapacitacion</display-name>
    <servlet-name>SVCapacitacion</servlet-name>
    <servlet-class>controller.SVCapacitacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SVCapacitacion</servlet-name>
    <url-pattern>/SVCapacitacion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SVUsuario</display-name>
    <servlet-name>SVUsuario</servlet-name>
    <servlet-class>controller.SVUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SVUsuario</servlet-name>
    <url-pattern>/SVUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SVEliminarCap</display-name>
    <servlet-name>SVEliminarCap</servlet-name>
    <servlet-class>controller.SVEliminarCap</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SVEliminarCap</servlet-name>
    <url-pattern>/SVEliminarCap</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SVEditarCap</display-name>
    <servlet-name>SVEditarCap</servlet-name>
    <servlet-class>controller.SVEditarCap</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SVEditarCap</servlet-name>
    <url-pattern>/SVEditarCap</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SVEditarUsu</display-name>
    <servlet-name>SVEditarUsu</servlet-name>
    <servlet-class>controller.SVEditarUsu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SVEditarUsu</servlet-name>
    <url-pattern>/SVEditarUsu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SVEliminarUsu</display-name>
    <servlet-name>SVEliminarUsu</servlet-name>
    <servlet-class>controller.SVEliminarUsu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SVEliminarUsu</servlet-name>
    <url-pattern>/SVEliminarUsu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SVContacto</display-name>
    <servlet-name>SVContacto</servlet-name>
    <servlet-class>controller.SVContacto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SVContacto</servlet-name>
    <url-pattern>/SVContacto</url-pattern>
  </servlet-mapping>
</web-app>